--
-- PostgreSQL database dump
--

\restrict mwb00VqSqbhn8SwTZshLnfv9RWyIslsfbXW6uCg1bVBS3dOy7LQhCgQR1mVSuoB

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.medications DROP CONSTRAINT IF EXISTS fkrjvh4m07fuk8es34ypvko3lt8;
ALTER TABLE IF EXISTS ONLY public.vaccination_records DROP CONSTRAINT IF EXISTS fkqy09l6ce2qp6yehvmpeshjsic;
ALTER TABLE IF EXISTS ONLY public.article_likes DROP CONSTRAINT IF EXISTS fkq68u12nmkwf7j0k72bg711amn;
ALTER TABLE IF EXISTS ONLY public.family_invitations DROP CONSTRAINT IF EXISTS fkq2i3a1pnw8c4h8n4o39pi3mi7;
ALTER TABLE IF EXISTS ONLY public.growth_records DROP CONSTRAINT IF EXISTS fkp61f7fgd42m51864ux1vgf8ho;
ALTER TABLE IF EXISTS ONLY public.doctor_verifications DROP CONSTRAINT IF EXISTS fkp33ur0fbk79ogis3f9x10uxie;
ALTER TABLE IF EXISTS ONLY public.vaccination_doses DROP CONSTRAINT IF EXISTS fkowg6qvh8dkbrdncqb7wbyqo6s;
ALTER TABLE IF EXISTS ONLY public.ocr_results DROP CONSTRAINT IF EXISTS fkoan83pj9bwn5l2i1nm625co0c;
ALTER TABLE IF EXISTS ONLY public.ocr_results DROP CONSTRAINT IF EXISTS fknn01vhxemrng0b4ich808qaa;
ALTER TABLE IF EXISTS ONLY public.ai_chat_messages DROP CONSTRAINT IF EXISTS fkncfaarj6gwd37j1fi98bmpmcl;
ALTER TABLE IF EXISTS ONLY public.article_comments DROP CONSTRAINT IF EXISTS fkmhcojnp3o4w0ufrpn635vxsdl;
ALTER TABLE IF EXISTS ONLY public.family_members DROP CONSTRAINT IF EXISTS fkmdci0l8jglw0mya47m16lnutn;
ALTER TABLE IF EXISTS ONLY public.group_posts DROP CONSTRAINT IF EXISTS fklgh84xwssbnjbsr4lyvuq5smc;
ALTER TABLE IF EXISTS ONLY public.group_posts DROP CONSTRAINT IF EXISTS fkk3tcgfix2g839h9d88325rbdo;
ALTER TABLE IF EXISTS ONLY public.medication_logs DROP CONSTRAINT IF EXISTS fkjr4av39v7ugohuoqovrwn2ely;
ALTER TABLE IF EXISTS ONLY public.group_posts DROP CONSTRAINT IF EXISTS fkjn1durmtdwdee7395a2gaxk6y;
ALTER TABLE IF EXISTS ONLY public.chat_messages DROP CONSTRAINT IF EXISTS fkgiqeap8ays4lf684x7m0r2729;
ALTER TABLE IF EXISTS ONLY public.family_members DROP CONSTRAINT IF EXISTS fkeynpxqr1l03689buyid3e1d8l;
ALTER TABLE IF EXISTS ONLY public.articles DROP CONSTRAINT IF EXISTS fke02fs2ut6qqoabfhj325wcjul;
ALTER TABLE IF EXISTS ONLY public.families DROP CONSTRAINT IF EXISTS fkdccxmnn961c1f11f6ftvccdcr;
ALTER TABLE IF EXISTS ONLY public.user_group_memberships DROP CONSTRAINT IF EXISTS fkcgidhmgjl8u60an1sgmw71w7c;
ALTER TABLE IF EXISTS ONLY public.article_likes DROP CONSTRAINT IF EXISTS fkbtkgmxfbjkfelv3v7ty6mo3n8;
ALTER TABLE IF EXISTS ONLY public.medicine_cabinets DROP CONSTRAINT IF EXISTS fkbgndmbiv2ucsi8lw465ab5cke;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS fkaug7imotpqt3dkk65sfjnvs3n;
ALTER TABLE IF EXISTS ONLY public.chat_messages DROP CONSTRAINT IF EXISTS fkao2p0itt4fr6mls5nbd2js3lx;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS fk9y21adhxn0ayjhfocscqox7bh;
ALTER TABLE IF EXISTS ONLY public.report_tickets DROP CONSTRAINT IF EXISTS fk99i38lj5gb5q5kl36ne7oo5p4;
ALTER TABLE IF EXISTS ONLY public.article_comments DROP CONSTRAINT IF EXISTS fk8gyngt3dpovo1ypp3psb7mbs5;
ALTER TABLE IF EXISTS ONLY public.family_invitations DROP CONSTRAINT IF EXISTS fk7gawh8w76waxqbp338or23jsj;
ALTER TABLE IF EXISTS ONLY public.ai_chat_sessions DROP CONSTRAINT IF EXISTS fk6mxk23rx514hrkne46l8bblp4;
ALTER TABLE IF EXISTS ONLY public.health_profiles DROP CONSTRAINT IF EXISTS fk3tevdso70nrymmg3rgy76jqga;
ALTER TABLE IF EXISTS ONLY public.community_groups DROP CONSTRAINT IF EXISTS fk2rx3qee0xtoxrwxuylxgfxw4d;
ALTER TABLE IF EXISTS ONLY public.user_group_memberships DROP CONSTRAINT IF EXISTS fk2jhd8g16lswoxo7thx1ydi4y4;
ALTER TABLE IF EXISTS ONLY public.report_tickets DROP CONSTRAINT IF EXISTS fk2d3mcgm7dn3372qsnajcivs0a;
ALTER TABLE IF EXISTS ONLY public.cabinet_medicines DROP CONSTRAINT IF EXISTS fk291ty3vk2e9revy0x6lss0gp8;
ALTER TABLE IF EXISTS ONLY public.family_invitations DROP CONSTRAINT IF EXISTS fk1pxp4fy42labn3449fm11j50o;
ALTER TABLE IF EXISTS ONLY public.health_profiles DROP CONSTRAINT IF EXISTS fk1h7bimb1438139bn29hxoqxyv;
DROP INDEX IF EXISTS public.idx_vaccination_records_profile;
DROP INDEX IF EXISTS public.idx_vaccination_doses_scheduled;
DROP INDEX IF EXISTS public.idx_users_email;
DROP INDEX IF EXISTS public.idx_report_tickets_reporter;
DROP INDEX IF EXISTS public.idx_report_tickets_post;
DROP INDEX IF EXISTS public.idx_report_tickets_created_at;
DROP INDEX IF EXISTS public.idx_ocr_results_user;
DROP INDEX IF EXISTS public.idx_notifications_user;
DROP INDEX IF EXISTS public.idx_memberships_user;
DROP INDEX IF EXISTS public.idx_memberships_group_role;
DROP INDEX IF EXISTS public.idx_memberships_group;
DROP INDEX IF EXISTS public.idx_medications_profile;
DROP INDEX IF EXISTS public.idx_medication_logs_scheduled;
DROP INDEX IF EXISTS public.idx_medication_logs_medication;
DROP INDEX IF EXISTS public.idx_health_profiles_user;
DROP INDEX IF EXISTS public.idx_health_profiles_family;
DROP INDEX IF EXISTS public.idx_growth_records_profile;
DROP INDEX IF EXISTS public.idx_growth_records_date;
DROP INDEX IF EXISTS public.idx_group_posts_reply;
DROP INDEX IF EXISTS public.idx_group_posts_group;
DROP INDEX IF EXISTS public.idx_group_posts_created_at;
DROP INDEX IF EXISTS public.idx_group_posts_author;
DROP INDEX IF EXISTS public.idx_family_members_user;
DROP INDEX IF EXISTS public.idx_family_members_family;
DROP INDEX IF EXISTS public.idx_family_invitations_recipient;
DROP INDEX IF EXISTS public.idx_doctor_verifications_status;
DROP INDEX IF EXISTS public.idx_doctor_verifications_certification;
DROP INDEX IF EXISTS public.idx_community_groups_private;
DROP INDEX IF EXISTS public.idx_community_groups_lead_doctor;
DROP INDEX IF EXISTS public.idx_community_groups_category;
DROP INDEX IF EXISTS public.idx_chat_family_created;
DROP INDEX IF EXISTS public.idx_cabinet_medicines_expiry;
DROP INDEX IF EXISTS public.idx_cabinet_medicines_cabinet;
DROP INDEX IF EXISTS public.idx_articles_created_at;
DROP INDEX IF EXISTS public.idx_articles_author;
DROP INDEX IF EXISTS public.idx_article_likes_user;
DROP INDEX IF EXISTS public.idx_article_likes_article;
DROP INDEX IF EXISTS public.idx_article_comments_author;
DROP INDEX IF EXISTS public.idx_article_comments_article_created;
DROP INDEX IF EXISTS public.idx_appointments_profile;
DROP INDEX IF EXISTS public.idx_appointments_date;
DROP INDEX IF EXISTS public.idx_ai_chat_sessions_user;
DROP INDEX IF EXISTS public.idx_ai_chat_messages_session;
ALTER TABLE IF EXISTS ONLY public.vaccination_records DROP CONSTRAINT IF EXISTS vaccination_records_pkey;
ALTER TABLE IF EXISTS ONLY public.vaccination_doses DROP CONSTRAINT IF EXISTS vaccination_doses_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.user_group_memberships DROP CONSTRAINT IF EXISTS user_group_memberships_pkey;
ALTER TABLE IF EXISTS ONLY public.families DROP CONSTRAINT IF EXISTS ukt6a0x2ahl4wtp2d86tqe9koc6;
ALTER TABLE IF EXISTS ONLY public.community_groups DROP CONSTRAINT IF EXISTS ukhmbp9t9rvhkgh4bgo4xmm47ig;
ALTER TABLE IF EXISTS ONLY public.user_group_memberships DROP CONSTRAINT IF EXISTS uk_user_group_membership;
ALTER TABLE IF EXISTS ONLY public.family_members DROP CONSTRAINT IF EXISTS uk_family_member_family_user;
ALTER TABLE IF EXISTS ONLY public.doctor_verifications DROP CONSTRAINT IF EXISTS uk_doctor_verifications_user;
ALTER TABLE IF EXISTS ONLY public.medicine_cabinets DROP CONSTRAINT IF EXISTS uk_cabinet_family;
ALTER TABLE IF EXISTS ONLY public.article_likes DROP CONSTRAINT IF EXISTS uk_article_likes_article_user;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS uk6dotkott2kjsp8vw4d0m25fb7;
ALTER TABLE IF EXISTS ONLY public.report_tickets DROP CONSTRAINT IF EXISTS report_tickets_pkey;
ALTER TABLE IF EXISTS ONLY public.ocr_results DROP CONSTRAINT IF EXISTS ocr_results_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.medicine_cabinets DROP CONSTRAINT IF EXISTS medicine_cabinets_pkey;
ALTER TABLE IF EXISTS ONLY public.medications DROP CONSTRAINT IF EXISTS medications_pkey;
ALTER TABLE IF EXISTS ONLY public.medication_logs DROP CONSTRAINT IF EXISTS medication_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.health_profiles DROP CONSTRAINT IF EXISTS health_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.growth_records DROP CONSTRAINT IF EXISTS growth_records_pkey;
ALTER TABLE IF EXISTS ONLY public.group_posts DROP CONSTRAINT IF EXISTS group_posts_pkey;
ALTER TABLE IF EXISTS ONLY public.family_members DROP CONSTRAINT IF EXISTS family_members_pkey;
ALTER TABLE IF EXISTS ONLY public.family_invitations DROP CONSTRAINT IF EXISTS family_invitations_pkey;
ALTER TABLE IF EXISTS ONLY public.families DROP CONSTRAINT IF EXISTS families_pkey;
ALTER TABLE IF EXISTS ONLY public.doctor_verifications DROP CONSTRAINT IF EXISTS doctor_verifications_pkey;
ALTER TABLE IF EXISTS ONLY public.community_groups DROP CONSTRAINT IF EXISTS community_groups_pkey;
ALTER TABLE IF EXISTS ONLY public.chat_messages DROP CONSTRAINT IF EXISTS chat_messages_pkey;
ALTER TABLE IF EXISTS ONLY public.cabinet_medicines DROP CONSTRAINT IF EXISTS cabinet_medicines_pkey;
ALTER TABLE IF EXISTS ONLY public.articles DROP CONSTRAINT IF EXISTS articles_pkey;
ALTER TABLE IF EXISTS ONLY public.article_likes DROP CONSTRAINT IF EXISTS article_likes_pkey;
ALTER TABLE IF EXISTS ONLY public.article_comments DROP CONSTRAINT IF EXISTS article_comments_pkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_pkey;
ALTER TABLE IF EXISTS ONLY public.ai_chat_sessions DROP CONSTRAINT IF EXISTS ai_chat_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.ai_chat_messages DROP CONSTRAINT IF EXISTS ai_chat_messages_pkey;
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16892';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16891';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16890';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16889';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16888';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16887';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16886';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16885';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16884';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16883';
SELECT pg_catalog.lo_unlink(oid) FROM pg_catalog.pg_largeobject_metadata WHERE oid = '16882';
DROP TABLE IF EXISTS public.vaccination_records;
DROP TABLE IF EXISTS public.vaccination_doses;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_group_memberships;
DROP TABLE IF EXISTS public.report_tickets;
DROP TABLE IF EXISTS public.ocr_results;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.medicine_cabinets;
DROP TABLE IF EXISTS public.medications;
DROP TABLE IF EXISTS public.medication_logs;
DROP TABLE IF EXISTS public.health_profiles;
DROP TABLE IF EXISTS public.growth_records;
DROP TABLE IF EXISTS public.group_posts;
DROP TABLE IF EXISTS public.family_members;
DROP TABLE IF EXISTS public.family_invitations;
DROP TABLE IF EXISTS public.families;
DROP TABLE IF EXISTS public.doctor_verifications;
DROP TABLE IF EXISTS public.community_groups;
DROP TABLE IF EXISTS public.chat_messages;
DROP TABLE IF EXISTS public.cabinet_medicines;
DROP TABLE IF EXISTS public.articles;
DROP TABLE IF EXISTS public.article_likes;
DROP TABLE IF EXISTS public.article_comments;
DROP TABLE IF EXISTS public.appointments;
DROP TABLE IF EXISTS public.ai_chat_sessions;
DROP TABLE IF EXISTS public.ai_chat_messages;
DROP EXTENSION IF EXISTS pgcrypto;
--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_chat_messages (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    content text NOT NULL,
    processing_time_ms integer,
    role character varying(20) NOT NULL,
    tokens_used integer,
    session_id bigint NOT NULL
);


--
-- Name: ai_chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ai_chat_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_chat_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_chat_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_chat_sessions (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    status character varying(20) NOT NULL,
    title character varying(200),
    user_id bigint NOT NULL
);


--
-- Name: ai_chat_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ai_chat_sessions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_chat_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appointments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.appointments (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    address text,
    appointment_date timestamp(6) with time zone NOT NULL,
    doctor_name character varying(200),
    hospital_name character varying(200),
    notes text,
    reminder_sent boolean NOT NULL,
    result_notes text,
    status character varying(20) NOT NULL,
    health_profile_id bigint NOT NULL,
    CONSTRAINT appointments_status_check CHECK (((status)::text = ANY ((ARRAY['SCHEDULED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.appointments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appointments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: article_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.article_comments (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    content text NOT NULL,
    article_id bigint NOT NULL,
    author_id bigint NOT NULL
);


--
-- Name: article_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.article_comments ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.article_comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: article_likes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.article_likes (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    article_id bigint NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: article_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.article_likes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.article_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: articles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.articles (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    content text NOT NULL,
    image_url character varying(1000),
    tags character varying(500),
    title character varying(200) NOT NULL,
    author_id bigint NOT NULL
);


--
-- Name: articles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.articles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.articles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cabinet_medicines; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cabinet_medicines (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    added_date date NOT NULL,
    expiry_date date,
    medicine_name character varying(200) NOT NULL,
    notes text,
    quantity integer NOT NULL,
    unit character varying(50),
    cabinet_id bigint NOT NULL
);


--
-- Name: cabinet_medicines_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cabinet_medicines ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cabinet_medicines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_messages (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    family_id bigint NOT NULL,
    sender_id bigint NOT NULL
);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.chat_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: community_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.community_groups (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    category character varying(80),
    description text,
    is_private boolean NOT NULL,
    name character varying(120) NOT NULL,
    tags character varying(500),
    lead_doctor_id bigint
);


--
-- Name: community_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.community_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.community_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: doctor_verifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.doctor_verifications (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    certification_number character varying(100) NOT NULL,
    document_url character varying(1000) NOT NULL,
    hospital_name character varying(200) NOT NULL,
    rejection_reason text,
    specialty character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT doctor_verifications_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: doctor_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.doctor_verifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.doctor_verifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: families; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.families (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    join_code character varying(12),
    join_code_expires_at timestamp(6) with time zone,
    name character varying(100) NOT NULL,
    owner_id bigint NOT NULL
);


--
-- Name: families_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.families ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.families_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: family_invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.family_invitations (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    recipient_email character varying(255),
    role character varying(30) NOT NULL,
    status character varying(20) NOT NULL,
    family_id bigint NOT NULL,
    recipient_id bigint,
    sender_id bigint NOT NULL,
    CONSTRAINT family_invitations_role_check CHECK (((role)::text = ANY ((ARRAY['OWNER'::character varying, 'ADMIN'::character varying, 'MEMBER'::character varying, 'FATHER'::character varying, 'MOTHER'::character varying, 'OLDER_BROTHER'::character varying, 'OLDER_SISTER'::character varying, 'YOUNGER'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT family_invitations_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'ACCEPTED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: family_invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.family_invitations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.family_invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: family_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.family_members (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    joined_at timestamp(6) with time zone NOT NULL,
    role character varying(20) NOT NULL,
    family_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT family_members_role_check CHECK (((role)::text = ANY ((ARRAY['OWNER'::character varying, 'ADMIN'::character varying, 'MEMBER'::character varying, 'FATHER'::character varying, 'MOTHER'::character varying, 'OLDER_BROTHER'::character varying, 'OLDER_SISTER'::character varying, 'YOUNGER'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: family_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.family_members ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.family_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: group_posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_posts (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    content text NOT NULL,
    image_url character varying(1000),
    author_id bigint NOT NULL,
    community_group_id bigint NOT NULL,
    reply_to_post_id bigint
);


--
-- Name: group_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.group_posts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.group_posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: growth_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.growth_records (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    bmi numeric(4,1),
    head_circumference_cm numeric(4,1),
    height_cm numeric(5,1),
    notes text,
    record_date date NOT NULL,
    weight_kg numeric(5,2),
    health_profile_id bigint NOT NULL
);


--
-- Name: growth_records_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.growth_records ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.growth_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: health_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.health_profiles (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    allergies text,
    avatar_url character varying(500),
    blood_type character varying(15),
    chronic_diseases text,
    date_of_birth date NOT NULL,
    deleted_at timestamp(6) with time zone,
    full_name character varying(100) NOT NULL,
    gender character varying(10) NOT NULL,
    is_child boolean NOT NULL,
    notes text,
    relationship character varying(50),
    family_id bigint,
    user_id bigint NOT NULL,
    CONSTRAINT health_profiles_blood_type_check CHECK (((blood_type)::text = ANY ((ARRAY['A_POSITIVE'::character varying, 'A_NEGATIVE'::character varying, 'B_POSITIVE'::character varying, 'B_NEGATIVE'::character varying, 'AB_POSITIVE'::character varying, 'AB_NEGATIVE'::character varying, 'O_POSITIVE'::character varying, 'O_NEGATIVE'::character varying])::text[]))),
    CONSTRAINT health_profiles_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying, 'OTHER'::character varying])::text[])))
);


--
-- Name: health_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.health_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.health_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: medication_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.medication_logs (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    is_notified boolean NOT NULL,
    notes text,
    scheduled_time timestamp(6) with time zone NOT NULL,
    status character varying(20) NOT NULL,
    taken_time timestamp(6) with time zone,
    medication_id bigint NOT NULL,
    CONSTRAINT medication_logs_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'TAKEN'::character varying, 'MISSED'::character varying, 'SKIPPED'::character varying])::text[])))
);


--
-- Name: medication_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.medication_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.medication_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: medications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.medications (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    dosage character varying(100),
    end_date date,
    frequency character varying(50) NOT NULL,
    medicine_name character varying(200) NOT NULL,
    notes text,
    start_date date NOT NULL,
    status character varying(20) NOT NULL,
    time_slots text,
    times_per_day integer,
    health_profile_id bigint NOT NULL,
    CONSTRAINT medications_frequency_check CHECK (((frequency)::text = ANY ((ARRAY['ONCE_DAILY'::character varying, 'TWICE_DAILY'::character varying, 'THREE_TIMES_DAILY'::character varying, 'WEEKLY'::character varying, 'DAILY'::character varying, 'EVERY_OTHER_DAY'::character varying, 'SPECIFIC_DAYS'::character varying, 'AS_NEEDED'::character varying, 'CUSTOM'::character varying])::text[]))),
    CONSTRAINT medications_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying])::text[])))
);


--
-- Name: medications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.medications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.medications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: medicine_cabinets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.medicine_cabinets (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    name character varying(100) NOT NULL,
    family_id bigint NOT NULL
);


--
-- Name: medicine_cabinets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.medicine_cabinets ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.medicine_cabinets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    is_read boolean NOT NULL,
    message text NOT NULL,
    reference_id bigint,
    reference_type character varying(50),
    title character varying(200) NOT NULL,
    type character varying(50) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT notifications_type_check CHECK (((type)::text = ANY ((ARRAY['MEDICATION'::character varying, 'APPOINTMENT'::character varying, 'VACCINATION'::character varying, 'FAMILY'::character varying, 'GROWTH'::character varying, 'SYSTEM'::character varying])::text[])))
);


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ocr_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ocr_results (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    image_url character varying(500) NOT NULL,
    raw_text text,
    status character varying(20) NOT NULL,
    structured_data text,
    medication_id bigint,
    user_id bigint NOT NULL,
    CONSTRAINT ocr_results_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PROCESSING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying])::text[])))
);


--
-- Name: ocr_results_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.ocr_results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ocr_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: report_tickets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.report_tickets (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    reason character varying(500) NOT NULL,
    reported_post_id bigint NOT NULL,
    reporter_id bigint NOT NULL
);


--
-- Name: report_tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.report_tickets ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.report_tickets_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_group_memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_group_memberships (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    group_role character varying(20) NOT NULL,
    joined_at timestamp(6) with time zone NOT NULL,
    community_group_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT user_group_memberships_group_role_check CHECK (((group_role)::text = ANY ((ARRAY['MEMBER'::character varying, 'HOST'::character varying])::text[])))
);


--
-- Name: user_group_memberships_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_group_memberships ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_group_memberships_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    avatar_url character varying(500),
    date_of_birth date,
    email character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    gender character varying(10),
    is_active boolean NOT NULL,
    is_verified boolean NOT NULL,
    password_hash character varying(255) NOT NULL,
    phone character varying(20),
    reset_password_expiry timestamp(6) with time zone,
    reset_password_token character varying(255),
    role character varying(20) NOT NULL,
    verification_token character varying(255),
    CONSTRAINT users_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'DOCTOR'::character varying, 'ADMIN'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vaccination_doses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.vaccination_doses (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    administered_by character varying(200),
    date_administered date,
    dose_number integer NOT NULL,
    location character varying(200),
    notes text,
    scheduled_date date,
    status character varying(20) NOT NULL,
    vaccination_record_id bigint NOT NULL,
    CONSTRAINT vaccination_doses_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'COMPLETED'::character varying, 'MISSED'::character varying])::text[])))
);


--
-- Name: vaccination_doses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.vaccination_doses ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vaccination_doses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vaccination_records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.vaccination_records (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    dose_interval_days integer,
    notes text,
    total_doses integer NOT NULL,
    vaccine_name character varying(200) NOT NULL,
    health_profile_id bigint NOT NULL
);


--
-- Name: vaccination_records_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.vaccination_records ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vaccination_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: 16882; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16882');


--
-- Name: 16883; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16883');


--
-- Name: 16884; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16884');


--
-- Name: 16885; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16885');


--
-- Name: 16886; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16886');


--
-- Name: 16887; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16887');


--
-- Name: 16888; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16888');


--
-- Name: 16889; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16889');


--
-- Name: 16890; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16890');


--
-- Name: 16891; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16891');


--
-- Name: 16892; Type: BLOB; Schema: -; Owner: -
--

SELECT pg_catalog.lo_create('16892');


--
-- Data for Name: ai_chat_messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ai_chat_sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: article_comments; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.article_comments VALUES (1, '2026-06-02 05:56:21.247537+00', '2026-06-02 05:56:21.247537+00', '16883', 1, 5);
INSERT INTO public.article_comments VALUES (2, '2026-06-02 06:53:13.257911+00', '2026-06-02 06:53:13.257911+00', '16884', 1, 2);
INSERT INTO public.article_comments VALUES (3, '2026-06-02 06:53:29.866914+00', '2026-06-02 06:53:29.866914+00', '16885', 1, 2);


--
-- Data for Name: article_likes; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.article_likes VALUES (1, '2026-06-02 06:40:13.874802+00', '2026-06-02 06:40:13.874802+00', 1, 1);
INSERT INTO public.article_likes VALUES (7, '2026-06-02 06:58:21.746714+00', '2026-06-02 06:58:21.746714+00', 2, 6);
INSERT INTO public.article_likes VALUES (11, '2026-06-02 07:03:24.920995+00', '2026-06-02 07:03:24.920995+00', 2, 7);


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.articles VALUES (1, '2026-06-02 05:56:08.530871+00', '2026-06-02 05:56:08.530871+00', '16882', 'http://127.0.0.1:8080/api/v1/media/files/articles/2026/06/b2ef3336-0a99-4018-9737-fc85a5202aa6.jpg', 'Nhi khoa', 'Nhi Khoa sß╗æ 1', 5);
INSERT INTO public.articles VALUES (2, '2026-06-02 06:54:10.617236+00', '2026-06-02 06:54:10.617236+00', '16886', 'http://127.0.0.1:8080/api/v1/media/files/articles/2026/06/5e9e6a08-c43d-4d7a-9557-6acc6c53443e.png', 'virus', 'C├ích ph├▓ng chß╗æng covid 19', 2);


--
-- Data for Name: cabinet_medicines; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: community_groups; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.community_groups VALUES (1, '2026-06-02 05:44:52.985453+00', '2026-06-02 05:44:52.985453+00', 'Nhi Khoa', 'Kh├┤ng gian trao ─æß╗òi kiß║┐n thß╗⌐c v├á kinh nghiß╗çm ch─âm s├│c sß╗⌐c khß╗Åe vß╗ü Nhi Khoa.', false, 'Cß╗Öng ─æß╗ông Nhi Khoa', 'Nhi Khoa', NULL);
INSERT INTO public.community_groups VALUES (2, '2026-06-02 05:44:53.014998+00', '2026-06-02 05:44:53.014998+00', 'Nhi Khoa', 'Ph├▓ng t╞░ vß║Ñn ri├¬ng cß╗ºa b├íc s─⌐ B├íc s─⌐ Nhi Khoa.', true, 'Ph├▓ng t╞░ vß║Ñn - BS. B├íc s─⌐ Nhi Khoa', 'Nhi Khoa, t╞░ vß║Ñn b├íc s─⌐', 5);


--
-- Data for Name: doctor_verifications; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.doctor_verifications VALUES (1, '2026-06-02 05:43:47.455093+00', '2026-06-02 05:44:53.019006+00', '2020489201', 'http://127.0.0.1:8080/api/v1/media/files/doctor-verifications/2026/06/0c7377df-eada-43eb-b4b1-f585031f60ad.jpg', 'BV TPHCM', NULL, 'Nhi Khoa', 'APPROVED', 5);


--
-- Data for Name: families; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.families VALUES (1, '2026-06-02 03:37:41.269193+00', '2026-06-02 03:37:41.269193+00', '49J9QH', '2026-06-09 03:37:41.267999+00', 'Tß╗ò ß║ñm test', 1);
INSERT INTO public.families VALUES (3, '2026-06-02 05:40:23.25078+00', '2026-06-02 05:40:23.25078+00', NULL, NULL, 'Tß╗ò ß║Ñm 1', 3);


--
-- Data for Name: family_invitations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: family_members; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.family_members VALUES (1, '2026-06-02 03:37:41.274952+00', '2026-06-02 03:37:41.274952+00', '2026-06-02 03:37:41.273959+00', 'OWNER', 1, 1);
INSERT INTO public.family_members VALUES (2, '2026-06-02 05:40:23.25078+00', '2026-06-02 05:40:23.25078+00', '2026-06-02 05:40:23.25078+00', 'OWNER', 3, 3);
INSERT INTO public.family_members VALUES (3, '2026-06-02 05:40:23.25078+00', '2026-06-02 05:40:23.25078+00', '2026-06-02 05:40:23.25078+00', 'MEMBER', 3, 4);


--
-- Data for Name: group_posts; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.group_posts VALUES (1, '2026-06-02 07:33:52.011444+00', '2026-06-02 07:33:52.011444+00', '16890', NULL, 1, 2, NULL);
INSERT INTO public.group_posts VALUES (2, '2026-06-02 07:34:12.53716+00', '2026-06-02 07:34:12.53716+00', '16891', NULL, 1, 2, NULL);
INSERT INTO public.group_posts VALUES (3, '2026-06-02 07:48:42.355181+00', '2026-06-02 07:48:42.355181+00', '16892', NULL, 5, 2, NULL);


--
-- Data for Name: growth_records; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: health_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.health_profiles VALUES (1, '2026-06-02 03:37:41.284676+00', '2026-06-02 03:37:41.284676+00', NULL, NULL, NULL, NULL, '2000-01-01', NULL, 'CareNest Admin', 'OTHER', false, NULL, 'MEMBER', 1, 1);


--
-- Data for Name: medication_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: medications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: medicine_cabinets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ocr_results; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: report_tickets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_group_memberships; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.user_group_memberships VALUES (1, '2026-06-02 05:44:53.005609+00', '2026-06-02 05:44:53.005609+00', 'HOST', '2026-06-02 05:44:53.009368+00', 1, 5);
INSERT INTO public.user_group_memberships VALUES (2, '2026-06-02 05:44:53.017743+00', '2026-06-02 05:44:53.017743+00', 'HOST', '2026-06-02 05:44:53.017807+00', 2, 5);
INSERT INTO public.user_group_memberships VALUES (3, '2026-06-02 06:06:05.592015+00', '2026-06-02 06:06:05.592015+00', 'MEMBER', '2026-06-02 06:06:05.601102+00', 1, 1);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users VALUES (1, '2026-06-02 03:31:15.938514+00', '2026-06-02 03:31:15.938514+00', NULL, NULL, 'admin@carenest.com', 'CareNest Admin', NULL, true, true, '$2a$10$vhGvWXz040Risp.To6Fpqu/QXee9YLDWy2X8OJJrMG1s209WqHg0G', NULL, NULL, NULL, 'ADMIN', NULL);
INSERT INTO public.users VALUES (2, '2026-06-02 05:40:10.116707+00', '2026-06-02 05:40:10.116707+00', NULL, NULL, 'admin@gmail.com', 'Admin', NULL, true, true, '$2a$06$siV6I83RQVOy1HWgxcK1/epkyLW6PsB7Al.MO/f1C0WDlAV.G6cBK', NULL, NULL, NULL, 'ADMIN', NULL);
INSERT INTO public.users VALUES (3, '2026-06-02 05:40:10.116707+00', '2026-06-02 05:40:10.116707+00', NULL, NULL, 'doletuankiet06@gmail.com', 'Tuan Kiet', NULL, true, true, '$2a$06$vMHfZPEC3hO3d62NMlZAOOWZbY4grsEvMYOlU7fJyyRSMxuzMEgpm', NULL, NULL, NULL, 'USER', NULL);


--
-- Data for Name: vaccination_doses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: vaccination_records; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: ai_chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ai_chat_messages_id_seq', 1, false);


--
-- Name: ai_chat_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ai_chat_sessions_id_seq', 1, false);


--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.appointments_id_seq', 1, false);


--
-- Name: article_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.article_comments_id_seq', 6, true);


--
-- Name: article_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.article_likes_id_seq', 11, true);


--
-- Name: articles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.articles_id_seq', 2, true);


--
-- Name: cabinet_medicines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cabinet_medicines_id_seq', 1, false);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 1, false);


--
-- Name: community_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.community_groups_id_seq', 2, true);


--
-- Name: doctor_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.doctor_verifications_id_seq', 1, true);


--
-- Name: families_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.families_id_seq', 3, true);


--
-- Name: family_invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.family_invitations_id_seq', 1, false);


--
-- Name: family_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.family_members_id_seq', 3, true);


--
-- Name: group_posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_posts_id_seq', 3, true);


--
-- Name: growth_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.growth_records_id_seq', 1, false);


--
-- Name: health_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.health_profiles_id_seq', 1, true);


--
-- Name: medication_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.medication_logs_id_seq', 1, false);


--
-- Name: medications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.medications_id_seq', 1, false);


--
-- Name: medicine_cabinets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.medicine_cabinets_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: ocr_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ocr_results_id_seq', 1, false);


--
-- Name: report_tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.report_tickets_id_seq', 1, false);


--
-- Name: user_group_memberships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_group_memberships_id_seq', 5, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: vaccination_doses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.vaccination_doses_id_seq', 1, false);


--
-- Name: vaccination_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.vaccination_records_id_seq', 1, false);


--
-- Data for Name: BLOBS; Type: BLOBS; Schema: -; Owner: -
--

BEGIN;

SELECT pg_catalog.lo_open('16882', 131072);
SELECT pg_catalog.lowrite(0, '\x42c3a069207669e1babf742054657374');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16883', 131072);
SELECT pg_catalog.lowrite(0, '\x41313233');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16884', 131072);
SELECT pg_catalog.lowrite(0, '\x686179207175c3a12062c3a1632073c4a9');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16885', 131072);
SELECT pg_catalog.lowrite(0, '\x747579e1bb8774');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16886', 131072);
SELECT pg_catalog.lowrite(0, '\x43c3a16368206c792074e1baa169206e68c3a0203134206e67c3a079');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16887', 131072);
SELECT pg_catalog.lowrite(0, '\x7469c3aa6d2076616363696e6520636f766964203139');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16888', 131072);
SELECT pg_catalog.lowrite(0, '\xf09f918ff09f918ff09f918f');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16889', 131072);
SELECT pg_catalog.lowrite(0, '\x42c3a1632073e1bbb92063686f2074c3b4692068e1bb8f692046322063e1baa76e206cc3a06d2067c3ac2074e1baa169206e68c3a020e1baa13f');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16890', 131072);
SELECT pg_catalog.lowrite(0, '\x74657374');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16891', 131072);
SELECT pg_catalog.lowrite(0, '\x74657374');
SELECT pg_catalog.lo_close(0);

SELECT pg_catalog.lo_open('16892', 131072);
SELECT pg_catalog.lowrite(0, '\x74657374');
SELECT pg_catalog.lo_close(0);

COMMIT;

--
-- Name: ai_chat_messages ai_chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chat_messages
    ADD CONSTRAINT ai_chat_messages_pkey PRIMARY KEY (id);


--
-- Name: ai_chat_sessions ai_chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chat_sessions
    ADD CONSTRAINT ai_chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: article_comments article_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_comments
    ADD CONSTRAINT article_comments_pkey PRIMARY KEY (id);


--
-- Name: article_likes article_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_likes
    ADD CONSTRAINT article_likes_pkey PRIMARY KEY (id);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id);


--
-- Name: cabinet_medicines cabinet_medicines_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cabinet_medicines
    ADD CONSTRAINT cabinet_medicines_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: community_groups community_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_groups
    ADD CONSTRAINT community_groups_pkey PRIMARY KEY (id);


--
-- Name: doctor_verifications doctor_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.doctor_verifications
    ADD CONSTRAINT doctor_verifications_pkey PRIMARY KEY (id);


--
-- Name: families families_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.families
    ADD CONSTRAINT families_pkey PRIMARY KEY (id);


--
-- Name: family_invitations family_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_invitations
    ADD CONSTRAINT family_invitations_pkey PRIMARY KEY (id);


--
-- Name: family_members family_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT family_members_pkey PRIMARY KEY (id);


--
-- Name: group_posts group_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_posts
    ADD CONSTRAINT group_posts_pkey PRIMARY KEY (id);


--
-- Name: growth_records growth_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.growth_records
    ADD CONSTRAINT growth_records_pkey PRIMARY KEY (id);


--
-- Name: health_profiles health_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.health_profiles
    ADD CONSTRAINT health_profiles_pkey PRIMARY KEY (id);


--
-- Name: medication_logs medication_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medication_logs
    ADD CONSTRAINT medication_logs_pkey PRIMARY KEY (id);


--
-- Name: medications medications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medications
    ADD CONSTRAINT medications_pkey PRIMARY KEY (id);


--
-- Name: medicine_cabinets medicine_cabinets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medicine_cabinets
    ADD CONSTRAINT medicine_cabinets_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ocr_results ocr_results_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT ocr_results_pkey PRIMARY KEY (id);


--
-- Name: report_tickets report_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_tickets
    ADD CONSTRAINT report_tickets_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: article_likes uk_article_likes_article_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_likes
    ADD CONSTRAINT uk_article_likes_article_user UNIQUE (article_id, user_id);


--
-- Name: medicine_cabinets uk_cabinet_family; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medicine_cabinets
    ADD CONSTRAINT uk_cabinet_family UNIQUE (family_id);


--
-- Name: doctor_verifications uk_doctor_verifications_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.doctor_verifications
    ADD CONSTRAINT uk_doctor_verifications_user UNIQUE (user_id);


--
-- Name: family_members uk_family_member_family_user; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT uk_family_member_family_user UNIQUE (family_id, user_id);


--
-- Name: user_group_memberships uk_user_group_membership; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_memberships
    ADD CONSTRAINT uk_user_group_membership UNIQUE (user_id, community_group_id);


--
-- Name: community_groups ukhmbp9t9rvhkgh4bgo4xmm47ig; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_groups
    ADD CONSTRAINT ukhmbp9t9rvhkgh4bgo4xmm47ig UNIQUE (name);


--
-- Name: families ukt6a0x2ahl4wtp2d86tqe9koc6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.families
    ADD CONSTRAINT ukt6a0x2ahl4wtp2d86tqe9koc6 UNIQUE (join_code);


--
-- Name: user_group_memberships user_group_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_memberships
    ADD CONSTRAINT user_group_memberships_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vaccination_doses vaccination_doses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vaccination_doses
    ADD CONSTRAINT vaccination_doses_pkey PRIMARY KEY (id);


--
-- Name: vaccination_records vaccination_records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vaccination_records
    ADD CONSTRAINT vaccination_records_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_chat_messages_session; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ai_chat_messages_session ON public.ai_chat_messages USING btree (session_id);


--
-- Name: idx_ai_chat_sessions_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ai_chat_sessions_user ON public.ai_chat_sessions USING btree (user_id);


--
-- Name: idx_appointments_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_date ON public.appointments USING btree (appointment_date);


--
-- Name: idx_appointments_profile; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_profile ON public.appointments USING btree (health_profile_id);


--
-- Name: idx_article_comments_article_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_article_comments_article_created ON public.article_comments USING btree (article_id, created_at);


--
-- Name: idx_article_comments_author; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_article_comments_author ON public.article_comments USING btree (author_id);


--
-- Name: idx_article_likes_article; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_article_likes_article ON public.article_likes USING btree (article_id);


--
-- Name: idx_article_likes_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_article_likes_user ON public.article_likes USING btree (user_id);


--
-- Name: idx_articles_author; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_articles_author ON public.articles USING btree (author_id);


--
-- Name: idx_articles_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_articles_created_at ON public.articles USING btree (created_at);


--
-- Name: idx_cabinet_medicines_cabinet; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cabinet_medicines_cabinet ON public.cabinet_medicines USING btree (cabinet_id);


--
-- Name: idx_cabinet_medicines_expiry; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cabinet_medicines_expiry ON public.cabinet_medicines USING btree (expiry_date);


--
-- Name: idx_chat_family_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_family_created ON public.chat_messages USING btree (family_id, created_at);


--
-- Name: idx_community_groups_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_community_groups_category ON public.community_groups USING btree (category);


--
-- Name: idx_community_groups_lead_doctor; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_community_groups_lead_doctor ON public.community_groups USING btree (lead_doctor_id);


--
-- Name: idx_community_groups_private; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_community_groups_private ON public.community_groups USING btree (is_private);


--
-- Name: idx_doctor_verifications_certification; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_doctor_verifications_certification ON public.doctor_verifications USING btree (certification_number);


--
-- Name: idx_doctor_verifications_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_doctor_verifications_status ON public.doctor_verifications USING btree (status);


--
-- Name: idx_family_invitations_recipient; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_family_invitations_recipient ON public.family_invitations USING btree (recipient_id);


--
-- Name: idx_family_members_family; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_family_members_family ON public.family_members USING btree (family_id);


--
-- Name: idx_family_members_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_family_members_user ON public.family_members USING btree (user_id);


--
-- Name: idx_group_posts_author; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_posts_author ON public.group_posts USING btree (author_id);


--
-- Name: idx_group_posts_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_posts_created_at ON public.group_posts USING btree (created_at);


--
-- Name: idx_group_posts_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_posts_group ON public.group_posts USING btree (community_group_id);


--
-- Name: idx_group_posts_reply; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_group_posts_reply ON public.group_posts USING btree (reply_to_post_id);


--
-- Name: idx_growth_records_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_growth_records_date ON public.growth_records USING btree (record_date);


--
-- Name: idx_growth_records_profile; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_growth_records_profile ON public.growth_records USING btree (health_profile_id);


--
-- Name: idx_health_profiles_family; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_health_profiles_family ON public.health_profiles USING btree (family_id);


--
-- Name: idx_health_profiles_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_health_profiles_user ON public.health_profiles USING btree (user_id);


--
-- Name: idx_medication_logs_medication; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_medication_logs_medication ON public.medication_logs USING btree (medication_id);


--
-- Name: idx_medication_logs_scheduled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_medication_logs_scheduled ON public.medication_logs USING btree (scheduled_time);


--
-- Name: idx_medications_profile; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_medications_profile ON public.medications USING btree (health_profile_id);


--
-- Name: idx_memberships_group; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_group ON public.user_group_memberships USING btree (community_group_id);


--
-- Name: idx_memberships_group_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_group_role ON public.user_group_memberships USING btree (community_group_id, group_role);


--
-- Name: idx_memberships_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_memberships_user ON public.user_group_memberships USING btree (user_id);


--
-- Name: idx_notifications_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_user ON public.notifications USING btree (user_id);


--
-- Name: idx_ocr_results_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ocr_results_user ON public.ocr_results USING btree (user_id);


--
-- Name: idx_report_tickets_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_tickets_created_at ON public.report_tickets USING btree (created_at);


--
-- Name: idx_report_tickets_post; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_tickets_post ON public.report_tickets USING btree (reported_post_id);


--
-- Name: idx_report_tickets_reporter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_report_tickets_reporter ON public.report_tickets USING btree (reporter_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_vaccination_doses_scheduled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vaccination_doses_scheduled ON public.vaccination_doses USING btree (scheduled_date);


--
-- Name: idx_vaccination_records_profile; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_vaccination_records_profile ON public.vaccination_records USING btree (health_profile_id);


--
-- Name: health_profiles fk1h7bimb1438139bn29hxoqxyv; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.health_profiles
    ADD CONSTRAINT fk1h7bimb1438139bn29hxoqxyv FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: family_invitations fk1pxp4fy42labn3449fm11j50o; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_invitations
    ADD CONSTRAINT fk1pxp4fy42labn3449fm11j50o FOREIGN KEY (recipient_id) REFERENCES public.users(id);


--
-- Name: cabinet_medicines fk291ty3vk2e9revy0x6lss0gp8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cabinet_medicines
    ADD CONSTRAINT fk291ty3vk2e9revy0x6lss0gp8 FOREIGN KEY (cabinet_id) REFERENCES public.medicine_cabinets(id);


--
-- Name: report_tickets fk2d3mcgm7dn3372qsnajcivs0a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_tickets
    ADD CONSTRAINT fk2d3mcgm7dn3372qsnajcivs0a FOREIGN KEY (reporter_id) REFERENCES public.users(id);


--
-- Name: user_group_memberships fk2jhd8g16lswoxo7thx1ydi4y4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_memberships
    ADD CONSTRAINT fk2jhd8g16lswoxo7thx1ydi4y4 FOREIGN KEY (community_group_id) REFERENCES public.community_groups(id);


--
-- Name: community_groups fk2rx3qee0xtoxrwxuylxgfxw4d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.community_groups
    ADD CONSTRAINT fk2rx3qee0xtoxrwxuylxgfxw4d FOREIGN KEY (lead_doctor_id) REFERENCES public.users(id);


--
-- Name: health_profiles fk3tevdso70nrymmg3rgy76jqga; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.health_profiles
    ADD CONSTRAINT fk3tevdso70nrymmg3rgy76jqga FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ai_chat_sessions fk6mxk23rx514hrkne46l8bblp4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chat_sessions
    ADD CONSTRAINT fk6mxk23rx514hrkne46l8bblp4 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: family_invitations fk7gawh8w76waxqbp338or23jsj; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_invitations
    ADD CONSTRAINT fk7gawh8w76waxqbp338or23jsj FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: article_comments fk8gyngt3dpovo1ypp3psb7mbs5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_comments
    ADD CONSTRAINT fk8gyngt3dpovo1ypp3psb7mbs5 FOREIGN KEY (article_id) REFERENCES public.articles(id);


--
-- Name: report_tickets fk99i38lj5gb5q5kl36ne7oo5p4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.report_tickets
    ADD CONSTRAINT fk99i38lj5gb5q5kl36ne7oo5p4 FOREIGN KEY (reported_post_id) REFERENCES public.group_posts(id);


--
-- Name: notifications fk9y21adhxn0ayjhfocscqox7bh; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk9y21adhxn0ayjhfocscqox7bh FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: chat_messages fkao2p0itt4fr6mls5nbd2js3lx; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkao2p0itt4fr6mls5nbd2js3lx FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: appointments fkaug7imotpqt3dkk65sfjnvs3n; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT fkaug7imotpqt3dkk65sfjnvs3n FOREIGN KEY (health_profile_id) REFERENCES public.health_profiles(id);


--
-- Name: medicine_cabinets fkbgndmbiv2ucsi8lw465ab5cke; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medicine_cabinets
    ADD CONSTRAINT fkbgndmbiv2ucsi8lw465ab5cke FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: article_likes fkbtkgmxfbjkfelv3v7ty6mo3n8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_likes
    ADD CONSTRAINT fkbtkgmxfbjkfelv3v7ty6mo3n8 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_group_memberships fkcgidhmgjl8u60an1sgmw71w7c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_group_memberships
    ADD CONSTRAINT fkcgidhmgjl8u60an1sgmw71w7c FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: families fkdccxmnn961c1f11f6ftvccdcr; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.families
    ADD CONSTRAINT fkdccxmnn961c1f11f6ftvccdcr FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: articles fke02fs2ut6qqoabfhj325wcjul; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT fke02fs2ut6qqoabfhj325wcjul FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: family_members fkeynpxqr1l03689buyid3e1d8l; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT fkeynpxqr1l03689buyid3e1d8l FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: chat_messages fkgiqeap8ays4lf684x7m0r2729; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT fkgiqeap8ays4lf684x7m0r2729 FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: group_posts fkjn1durmtdwdee7395a2gaxk6y; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_posts
    ADD CONSTRAINT fkjn1durmtdwdee7395a2gaxk6y FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: medication_logs fkjr4av39v7ugohuoqovrwn2ely; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medication_logs
    ADD CONSTRAINT fkjr4av39v7ugohuoqovrwn2ely FOREIGN KEY (medication_id) REFERENCES public.medications(id);


--
-- Name: group_posts fkk3tcgfix2g839h9d88325rbdo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_posts
    ADD CONSTRAINT fkk3tcgfix2g839h9d88325rbdo FOREIGN KEY (community_group_id) REFERENCES public.community_groups(id);


--
-- Name: group_posts fklgh84xwssbnjbsr4lyvuq5smc; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_posts
    ADD CONSTRAINT fklgh84xwssbnjbsr4lyvuq5smc FOREIGN KEY (reply_to_post_id) REFERENCES public.group_posts(id);


--
-- Name: family_members fkmdci0l8jglw0mya47m16lnutn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_members
    ADD CONSTRAINT fkmdci0l8jglw0mya47m16lnutn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: article_comments fkmhcojnp3o4w0ufrpn635vxsdl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_comments
    ADD CONSTRAINT fkmhcojnp3o4w0ufrpn635vxsdl FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: ai_chat_messages fkncfaarj6gwd37j1fi98bmpmcl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_chat_messages
    ADD CONSTRAINT fkncfaarj6gwd37j1fi98bmpmcl FOREIGN KEY (session_id) REFERENCES public.ai_chat_sessions(id);


--
-- Name: ocr_results fknn01vhxemrng0b4ich808qaa; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT fknn01vhxemrng0b4ich808qaa FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ocr_results fkoan83pj9bwn5l2i1nm625co0c; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT fkoan83pj9bwn5l2i1nm625co0c FOREIGN KEY (medication_id) REFERENCES public.medications(id);


--
-- Name: vaccination_doses fkowg6qvh8dkbrdncqb7wbyqo6s; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vaccination_doses
    ADD CONSTRAINT fkowg6qvh8dkbrdncqb7wbyqo6s FOREIGN KEY (vaccination_record_id) REFERENCES public.vaccination_records(id);


--
-- Name: doctor_verifications fkp33ur0fbk79ogis3f9x10uxie; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.doctor_verifications
    ADD CONSTRAINT fkp33ur0fbk79ogis3f9x10uxie FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: growth_records fkp61f7fgd42m51864ux1vgf8ho; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.growth_records
    ADD CONSTRAINT fkp61f7fgd42m51864ux1vgf8ho FOREIGN KEY (health_profile_id) REFERENCES public.health_profiles(id);


--
-- Name: family_invitations fkq2i3a1pnw8c4h8n4o39pi3mi7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.family_invitations
    ADD CONSTRAINT fkq2i3a1pnw8c4h8n4o39pi3mi7 FOREIGN KEY (family_id) REFERENCES public.families(id);


--
-- Name: article_likes fkq68u12nmkwf7j0k72bg711amn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.article_likes
    ADD CONSTRAINT fkq68u12nmkwf7j0k72bg711amn FOREIGN KEY (article_id) REFERENCES public.articles(id);


--
-- Name: vaccination_records fkqy09l6ce2qp6yehvmpeshjsic; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vaccination_records
    ADD CONSTRAINT fkqy09l6ce2qp6yehvmpeshjsic FOREIGN KEY (health_profile_id) REFERENCES public.health_profiles(id);


--
-- Name: medications fkrjvh4m07fuk8es34ypvko3lt8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.medications
    ADD CONSTRAINT fkrjvh4m07fuk8es34ypvko3lt8 FOREIGN KEY (health_profile_id) REFERENCES public.health_profiles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict mwb00VqSqbhn8SwTZshLnfv9RWyIslsfbXW6uCg1bVBS3dOy7LQhCgQR1mVSuoB

